<!DOCTYPE html>
<meta charset="utf-8">
<style>

.graticule {
  fill: none;
  stroke: #777;
  stroke-opacity: .5;
  stroke-width: .5px;
}

.land {
  fill: #222;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

</style>
<body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="world_map.js"></script>
<script>

var width = 500,
    height = 500;

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height);

var worldMap = new WorldMap(svg, width, height);

d3.select(self.frameElement).style("height", height + "px");

var coordinate = [Math.random() * 180 - 90, Math.random() * 180 - 90];

function addLine() {
    var colors = d3.scale.category10().range();
    var color = colors[Math.floor(Math.random() * colors.length)];
    var newCoordinate = [-96, -89];//, Math.random() * 180 - 90, Math.random() * 180 - 90];
    worldMap.addLine(coordinate, newCoordinate, color);
    coordinate = newCoordinate;

    window.setTimeout(addLine, 1000);
}

addLine();

</script>